body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
  transition-duration: 1s;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

#lists {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: row;
}

#lists section {
	margin: 20px;
}

#profile {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
}

#contactMe {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}

.favColor {
	background-color: #FFA07A;
	transition-duration: 1s;
}

.moreButton {
	height: 5vh;
	width: 10vh;
	background: linear-gradient(-45deg, rgb(255, 255, 214), rgb(255, 228, 110));
}

